<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tower-LED</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type=text/javascript>
        $(function(){
            //Code for changing rgba values of the led strip
            var form = $('.colorForm');
            $('.colorForm :input').on('change', function(){
                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: form.serialize(),
                }).done(function(res){
                    //Do nothing
                });
            });
        });
    </script>

  </head>
  <body>


    <form method="POST" action="{{url_for('setColor')}}" class="colorForm">

        <h2>Power</h2>
        <input type="checkbox" value={{currPower}} {{ 'checked="checked"' if currPower else "" }} id="power" name="myPower" >
    
        <h2>Brightness:</h2>
        <input type="range" min="0" max="100" value={{currAlpha}} id="alpha" name="myAlpha">
        
        <h2>Red:</h2>
        <input type="range" min="0" max="100" value={{currRed}} id="red" name="myRed">

        <h2>Green:</h2>
        <input type="range" min="0" max="100" value={{currGreen}} id="green" name="myGreen">

        <h2>Blue:</h2>
        <input type="range" min="0" max="100" value={{currBlue}} id="blue" name="myBlue">
        
    </form>


  </body>
</html>